/* Banner CSS */
.banner-overlay {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../../../assets/images/kitchen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    color: #ccc;
    padding-top: 20px;
    padding-bottom:20px;
    height: 650px;

}
.banner-logo {
    max-width: 600px;
    margin: auto;
    padding: 3.5em;
}
.banner-logo img {
    width: 400px;
}
.btn:hover {
    color: white !important;
    background:black !important;
}
.blue-text {
    color: #004696 !important;
}

.btn {
    font-weight: 700 !important;
    font-size: 1em;
}

.banner-welcome {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('../../../assets/images/blackwood2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    color: #ccc;
    padding-top: 20px;
    padding-bottom:20px;
    height: 400px;

}

.view {
    max-height: 150px;
}

.welcome {
    background: #FFF;
    padding: 3em;
    margin: 3em;
    border-radius: 5px;
}

.welcome h3 {
    color:#000;
    margin-bottom: 1em;
}