<div class="banner-section banner-overlay z-depth-2">
  <div class="container text-center">
      <div class="banner-logo">
        <img src="../../../assets/images/whiteLogo3.png" alt="logo">
      </div>
      <div banner-buttons>  
          <a class="btn blue darken-4 ">Book Now</a>
        <a class="btn white waves-effect blue-text">Login Now </a>
      </div>
  </div>
</div>
<div class="banner-welcome z-depth-2">
  <div class="container text-center">
  </div>
</div>
<div class="container">
  <section class="welcome z-depth-3">
    <h3 class="text-center">Welcome to Uno Professional Services</h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore labore necessitatibus, in ipsam unde commodi facere excepturi nihil voluptatibus eaque, minima illo ullam quae, officia totam at possimus minus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta laboriosam veniam, maiores rem temporibus tempore ad iste possimus qui culpa, laborum harum, adipisci nam et ullam enim ex itaque provident.</p>
  </section>
  <section class="cards">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div class="card">
      
              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="../../../assets/images/kitchen.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a [routerLink]="['/homecleaning']"> 
                  <div class="mask"></div>
                </a>
              </div>
      
              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Home Cleaning</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
      
            </div>
            <!--/.Card-->
          </div>
      <div class="col-md-5">
        <div class="card">

          <!--Card image-->
          
          <div class="view hm-white-slight waves-light" mdbRippleRadius>
            <img src="../../../assets/images/appliances.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
            <a [routerLink]="['/faq']"> 
              <div class="mask"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Installation</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>

        </div>
        <!--/.Card-->
      </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-5 offset-md-1">
            <div class="card">
      
              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="../../../assets/images/repair.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
      
              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Repairs/Improvemnets</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
      
            </div>
            <!--/.Card-->
          </div>
      <div class="col-md-5">
        <div class="card">

          <!--Card image-->
          
          <div class="view hm-white-slight waves-light" mdbRippleRadius>
            <img src="../../../assets/images/maintenance.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
            <a [routerLink]="['/faq']"> 
              <div class="mask"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Maintenance</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>

        </div>
        <!--/.Card-->
      </div>
    </div>
  </section>
</div>