<!-- Book Now Banner -->
<section class="book-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">Book Now </h3>
    <h4 class="book-banner-list"> Call us and reserve your next appointment</h4>
  </div>
</section>

<!-- Welcome Divder -->
<section class="divder welcome-divder z-depth-2">
  <div class="container divder-container">
    <h4 class="divder-list text-center">
      <i class="fa fa-circle" aria-hidden="true"></i> Mi casa es su casa
    </h4>
  </div>
</section>

<!-- Book Now container -->
<section class=" container book-container z-depth-2">
  <p> We are awaiting your call or email to book your appointment. We are available to book your appiment Monday-Friday 9:00AM - 5:00PM </p>
  <ul>
      <li><span class="li-title"> Phone: </span>770-731-3147 </li>
      <li><span class="li-title"> Email: </span> <a href="mailto:UNOProServices@gmail.com"> UNOProServices@gmail.com </a></li>
      <li><span class="li-title"> Booking times: </span> Monday-Saturday 7:00AM - 7:00PM</li>
    </ul>
</section>