<!--Footer-->
<footer class="page-footer black center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h5 class="brand">Uno Professional Services</h5>
        <p>Regardless of the service you hire, we will make sure that you’re happy with the outcome. After our team is done, our supervisor will walk through your home with you to check if the results live up to your expectations.</p>
      </div>
      <div class="col-md-6 text-center">
        <h5 class="brand">Links</h5>
        <ul>
          <li> <a [routerLink]="['/']">Home</a></li>
          <li> <a [routerLink]="['/services']">Services</a></li>
          <li> <a [routerLink]="['/faq']">FAQ</a></li>
          <!--<li> <a [routerLink]="['/contactus']">Contact Us</a></li>CONTACT US IS HIDDEN-->
          <li> <a [routerLink]="['/about']">About</a> </li>
          <li> <a [routerLink]="['/booknow']">Book Now</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="https://miguelchavezweb.firebaseapp.com/"> UnoProService.com </a>
    </div>
  </div>
</footer>