.brand {
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
}

.blue {
    background: rgb(20, 20, 80) !important;
}
a:hover {
    color: white !important;
    background:rgb(120, 20, 20)!important;
    border-radius: 5px;
}

.page-footer {
    margin-top: 0px;
}