<!-- Services Banner -->
<section class="service-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">Services </h3>
    <h4 class="service-banner-list">
      <i class="fa fa-circle" aria-hidden="true"></i>Home Cleaning
      <i class="fa fa-circle" aria-hidden="true"></i>Repairs/Improvements
      <i class="fa fa-circle" aria-hidden="true"></i>Installations
      <i class="fa fa-circle" aria-hidden="true"></i>Maintenance
    </h4>
  </div>
</section>

<!-- Welcome Divder -->
<section class=" divder welcome-divder z-depth-2">
  <div class="container divder-container">
    <h3 class="text-center">Redefining the art of home cleaning,
      <br> one house at a time. </h3>
  </div>
</section>