/* Banner CSS */
.banner {
    color: #eee;
    padding-top: 20px;
    padding-bottom:20px;
    height: 500px;
}

.banner-container {
    margin-top: 5em;
    padding: 2em;

}

.banner h3 {
    color:#eee;
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
    font-size: 150px;
    margin-bottom: 0.5em;
}

.service-banner  {
    background: linear-gradient(rgba(30,0,0,.4), rgba(30,0,0,.4)), url('../../../assets/images/test/living3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.service-banner-list  {
    margin-top: -3em;
    margin-bottom: 3em;
}

.service-banner-list i{
    margin: 10px; 
}

.btn:hover {
    color: white !important;
    background:rgb(120, 20, 20)!important;
}
.blue-text {
    color: rgb(20, 20, 120) !important;
}

.blue {
    background: rgb(20, 20, 120) !important;
}

.btn {
    font-weight: 700 !important;
    font-size: 1em;
}

.divder {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    color: #ccc;
    padding-top: 20px;
    padding-bottom:20px;
    height: 100px;
}
.divder-container{
    margin-top: 4em;
    padding: 2em;
}
.divder h3 {
    color:#eee;
    font-family: 'Arima Madurai', cursive;
    font-size: 50px;
}

.divder-list  {
    color: #eee;
    margin-top: -4em;
    margin-bottom: 3em;
}

.divder-list i{
    //color: rgb(20, 20, 120) !important;
    margin: 10px; 
}

.welcome-divder {
    background: linear-gradient(rgba(20, 20, 80, 0.5), rgba(20, 20, 80, 0.5)), url('../../../assets/images/blackwood2.jpg');

}

.collapse-services {
}

.widget {
}

.widget-button {
    padding-top: 3em;
    padding-bottom: 3em;
    cursor: pointer;
}

.widget-button-home:hover, .widget-button-home-stay {
    background: linear-gradient(rgba(30,0,0,.4), rgba(30,0,0,.4)),url('../../../assets/images/maintenance.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.widget-button-repair:hover, .widget-button-repair-stay {
    background: linear-gradient(rgba(30,0,0,.4), rgba(30,0,0,.4)), url('../../../assets/images/repair.jpg');
    color: white;
    background-position: center center;
}

.widget-button-installation:hover, .widget-button-installation-stay {
    background: linear-gradient(rgba(30,0,0,.4), rgba(30,0,0,.4)), url('../../../assets/images/kitchen.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.widget-button-maintenance:hover, .widget-button-maintenance-stay {
    background: linear-gradient(rgba(30,0,0,.4), rgba(30,0,0,.4)), url('../../../assets/images/services2.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.widget-pannel {
    padding-top: 20px;
    padding-bottom: 3em;
}

.widget-pannel-description{
    padding-bottom: 20px;
}

.widget-pannel-content{

}

hr {
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }