<!-- Services Banner -->
<section class="service-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">Services </h3>
    <h4 class="service-banner-list">
      <i class="fa fa-circle" aria-hidden="true"></i>Home Cleaning
      <i class="fa fa-circle" aria-hidden="true"></i>Repairs/Improvements
      <i class="fa fa-circle" aria-hidden="true"></i>Installations
      <i class="fa fa-circle" aria-hidden="true"></i>Maintenance
    </h4>
  </div>
</section>

<!-- Welcome Divder -->
<section class="divder welcome-divder z-depth-2">
  <div class="container divder-container">
  </div>
</section>
<section class="collapse-services">
  <div class="widget widget-Home">
    <div class="widget-button" (click)="openCloseHomePanel()">
      <h1 class="widget-button-title text-center">Home Cleaning
        <i class="fa fa-circle" aria-hidden="true"></i>
      </h1>
    </div>
    <div class="widget-pannel container" [@expandCollapse]='openCloseHome'>
      <h2 class="widget-pannel-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere</h2>
      <hr>
      <div class="widget-pannel-content">
        <h2 class="widget-pannel-title"> Basic </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
          ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
        <h2 class="widget-pannel-title"> Normal </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
          ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
        <h2 class="widget-pannel-title"> Premium </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
          ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
      </div>
    </div>
  </div>

  <div class="widget">
    <div class="widget-button" (click)="openReportsFilter()">
      <h1 class="widget-button-title text-center">Repairs/Improvements
        <i class="fa fa-circle" aria-hidden="true"></i>
      </h1>
    </div>
    <div class="widget-pannel container" *ngIf="openCloseAnim" [@expandCollapse]='openCloseAnim'>
        <h2 class="widget-pannel-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere</h2>
        <hr>
        <div class="widget-pannel-content">
          <h2 class="widget-pannel-title"> Basic </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
            ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
          <h2 class="widget-pannel-title"> Normal </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
            ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
          <h2 class="widget-pannel-title"> Premium </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
            ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
      </div>
    </div>
  </div>

  <div class="widget">
    <div class="widget-button" (click)="openReportsFilter()">
      <h1 class="widget-button-title text-center">Installations
        <i class="fa fa-circle" aria-hidden="true"></i>
      </h1>
    </div>
    <div class="widget-pannel" *ngIf="openCloseAnim" [@expandCollapse]='openCloseAnim'>
        <h2 class="widget-pannel-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere</h2>
        <hr>
        <div class="widget-pannel-content">
          <h2 class="widget-pannel-title"> Basic </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
            ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
          <h2 class="widget-pannel-title"> Normal </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
            ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
          <h2 class="widget-pannel-title"> Premium </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit, saepe hic itaque excepturi sit a! Facere
            ex rerum id assumenda quasi eaque inventore pariatur nihil velit est, perspiciatis voluptas!</p>
      </div>
    </div>
  </div>
</section>