<!-- About Banner -->
<section class="about-banner banner">
    <div class="container banner-container text-center">
      <h3 class="banner-title">About </h3>
      <!--<h4 class="about-banner-list"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. A dolorem quis aliquid </h4>-->
    </div>
  </section>
  
  <!-- Welcome Divder -->
  <section class="divder welcome-divder z-depth-2">
    <div class="container divder-container">
      <h4 class="divder-list text-center">
        <i class="fa fa-circle" aria-hidden="true"></i> The story of UNO Pro Services
      </h4>
    </div>
  </section>

   <!-- About container -->
  <section class=" container about-container z-depth-2">
    <p> UNO Pro Services is a family owned business with a new philosophy for home services. We have over 15 years of experience in cleaning and maintenance. Throughout the years we have not only provided these services for homes, but for resturants, condos, and hotels. The experience gained during these years has helped us establish our philosophy. </p>
    <p> Our philosphy is <i>"One house at the time"</i>. We will never rush ourselves, at your house, to go provide services to another house. While at your house we will make sure to solve all your needs before leaving. </p>
  </section>