<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" [routerLink]="['/']">
      <img class="navbar-brand" src="../../../assets/images/whiteLogo3.png" alt="logo">UNO Pro Services
    </a>
  </logo>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/services']" mdbRippleRadius>Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/faq']" mdbRippleRadius>FAQ</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/contactus']" mdbRippleRadius>Contact Us</a>
      </li> CONTACT US IS HIDDEN-->
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/about']" mdbRippleRadius>About</a>
      </li>
      <button class="nav-link blue waves-effect" [routerLink]="['/booknow']">
        <i class="fa fa-calendar"></i>BOOK NOW</button>


      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown </a>
        <div class="dropdown-menu dropdown-pink" aria-labelledby="navbarDropdownMenuLink-7">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a target="_blank" href="https://www.facebook.com/UnoProServices/"class="nav-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a target="_blank" href="https://twitter.com/unoproservices" class="nav-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a target="_blank" href="https://www.instagram.com/unoproservices/" class="nav-link">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->