/* Banner CSS */
.banner-overlay {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../../../assets/images/repair.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    color: #ccc;
    padding-top: 20px;
    padding-bottom:20px;
    height: 600px;

}
.banner-title{
    margin: auto;
    padding: 1em;
    font-size: 130px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

.btn {
    font-weight: 700 !important;
    font-size: 1em;
}

.welcome {
    background: #FFF;
    padding: 3em;
    margin: 3em;
    border-radius: 5px;
}

.welcome h3 {
    color:#000;
    margin-bottom: 1em;
}