<!-- FAQ Banner -->
<section class="faq-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">FAQ </h3>
    <h4 class="faq-banner-list">Answers to questions you might have! </h4>
  </div>
</section>

<!-- Welcome Divder -->
<section class="divder welcome-divder z-depth-2">
  <div class="container divder-container">
    <h4 class="divder-list text-center">
      <i class="fa fa-circle" aria-hidden="true"></i> Frequently Asked Questions
    </h4>
  </div>
</section>

<!-- Collapse FAQ -->
<section class="collapse-faq">
  <!-- Can I do a one time Cleaning Home Service? [0]-->
  <div class="widget">
    <div class="widget-button z-depth-2 " [ngClass]="{ 'widget-button-stay' : 'open' == openCloseAll[0] }" (click)="openCloseWidget(0)">
      <h3 class="widget-button-title text-center">Can I do a one time Home Cleaning Service?</h3>
    </div>
    <div class="widget-pannel container " [@expandCollapse]='openCloseAll[0]'>
      <div class="widget-pannel-description col-md-8 offset-md-2">
        <p>Absolutely, we provide services to meet all your needs. If you only need a one time service we can do it although we definitely recommend that you at least do a monthly service.</p>
      </div>
    </div>
  </div>
  <!-- Do I need a Home Cleaning Service to do a Repair Service? Widget[1]-->
  <div class="widget">
    <div class="widget-button z-depth-2 " [ngClass]="{ 'widget-button-stay' : 'open' == openCloseAll[1] }" (click)="openCloseWidget(1)">
      <h3 class="widget-button-title text-center">Do I need a Home Cleaning Service to do a Repair Service?</h3>
    </div>
    <div class="widget-pannel container " [@expandCollapse]='openCloseAll[1]'>
      <div class="widget-pannel-description col-md-8 offset-md-2">
        <p>You do not need to have a recurring House Cleaning Service ro request a Repair Service, but all of our recurring customers to receive a discount on all Repair Services.</p>
      </div>
    </div>
  </div>
  <!-- Do you do military discount? Widget [2]-->
  <div class="widget">
    <div class="widget-button z-depth-2 " [ngClass]="{ 'widget-button-stay' : 'open' == openCloseAll[2] }" (click)="openCloseWidget(2)">
      <h3 class="widget-button-title text-center">Do you do any military discounts?</h3>
    </div>
    <div class="widget-pannel container " [@expandCollapse]='openCloseAll[2]'>
      <div class="widget-pannel-description col-md-8 offset-md-2">
        <p> We offer a discount to any recurring customer, who is active duty milatry or a senior citizens, to both our Home Cleaning Services and Maintenance Services.</p>
      </div>
    </div>
  </div>
  <!-- Do I need to sign a contract? [3]-->
  <div class="widget">
    <div class="widget-button z-depth-2 " [ngClass]="{ 'widget-button-stay' : 'open' == openCloseAll[3] }" (click)="openCloseWidget(3)">
      <h3 class="widget-button-title text-center">Do I need to sign a contract to get a service? </h3>
    </div>
    <div class="widget-pannel container " [@expandCollapse]='openCloseAll[3]'>
      <div class="widget-pannel-description col-md-8 offset-md-2">
        <p> You do not need to sign a contract, but if you are selecting a recurring service you will have to fill out a service price agreement form.</p>
      </div>
    </div>
  </div>
  <!-- How far in advance can I sign up? Widget [4]-->
  <div class="widget">
    <div class="widget-button z-depth-2 " [ngClass]="{ 'widget-button-stay' : 'open' == openCloseAll[4] }" (click)="openCloseWidget(4)">
      <h3 class="widget-button-title text-center">Can I pay with my Credit Card?</h3>
    </div>
    <div class="widget-pannel container " [@expandCollapse]='openCloseAll[4]'>
      <div class="widget-pannel-description col-md-8 offset-md-2">
        <p>Yes, we currently accept Cash, Master Card, Visa, and American Express as a form of payment.</p>
      </div>
    </div>
  </div>
</section>