/* Banner CSS */
.banner {
    color: #eee;
    padding-top: 20px;
    padding-bottom:20px;
    height: 500px;
}

.banner-container {
    margin-top: 5em;
    padding: 2em;

}

.banner h3 {
    color:#eee;
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
    font-size: 150px;
    margin-bottom: 0.5em;
}

.faq-banner  {
    background: linear-gradient(rgba(30,0,0,.4),rgba(30,0,0,.4)), url('../../../assets/images/test/living2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.faq-banner-list  {
    margin-top: -3em;
    margin-bottom: 3em;
}

.faq-banner-list i{
    margin: 10px; 
}


@media (max-width:568px) {
    .banner h3 {
        font-size: 75px;
        margin-bottom: 1.5em;
    }
}

@media (min-width:568px) and (max-width:868px) {

    .banner h3 {
        font-size: 95px;
        margin-bottom: 1.0em;
    
    }
}

@media (min-width:1000px) {

    .faq-banner {
        background-attachment: fixed;
    }
}


.btn:hover {
    color: white !important;
    background:rgb(120, 20, 20)!important;
}
.blue-text {
    color: rgb(20, 20, 120) !important;
}

.blue {
    background: rgb(20, 20, 120) !important;
}

.btn {
    font-weight: 700 !important;
    font-size: 1em;
}

.divder {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    color: #ccc;
    padding-top: 20px;
    padding-bottom:20px;
    height: 100px;
}
.divder-container{
    margin-top: 4em;
    padding: 2em;
}
.divder h3 {
    color:#eee;
    font-family: 'Arima Madurai', cursive;
    font-size: 50px;
}

.divder-list  {
    color: #eee;
    margin-top: -4em;
    margin-bottom: 3em;
}

.divder-list i{
    //color: rgb(20, 20, 120) !important;
    margin: 10px; 
}

.welcome-divder {
    background: linear-gradient(rgba(20, 20, 80, 0.5), rgba(20, 20, 80, 0.5)), url('../../../assets/images/blackwood2.jpg');

}

.collapse-faq {
}

.widget {
}

.widget-button {
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}

.widget-button-stay {
    background: linear-gradient(rgba(120,20,20,.4), rgba(30,0,0,.4)), url('../../../assets/images/blackwood2.jpg');;
    color: white;
}

@media (min-width:1000px) {

    .widget-button:hover{
        background: linear-gradient(rgba(120,20,20,.4), rgba(30,0,0,.4)), url('../../../assets/images/blackwood2.jpg');;
        color: white;
    }
}

.widget-pannel {
    padding-top: 20px;
    padding-bottom: 3em;
}

.widget-pannel-description{
    padding-bottom: 20px;
}

.widget-pannel-content{

}

hr {
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }