<!-- Services Banner -->
<section class="service-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">Services </h3>
    <h4 class="service-banner-list"> Let us provide you with all your house needs. From a simple light bulb replacement to a new lamp fixture. From a weekly
      clean to a complete new look.</h4>
  </div>
</section>

<!-- Welcome Divder -->
<section class="divder welcome-divder z-depth-2">
  <div class="container divder-container">
    <h4 class="divder-list text-center">
      <i class="fa fa-circle" aria-hidden="true"></i>Home Cleaning
      <i class="fa fa-circle" aria-hidden="true"></i>Repairs/Improvements
      <i class="fa fa-circle" aria-hidden="true"></i>Installations
      <i class="fa fa-circle" aria-hidden="true"></i>Maintenance
    </h4>
  </div>
</section>

<!-- Collapse Services -->
<section class="collapse-services">
  <!-- Home Cleaning Widget -->
  <div class="widget">
    <div class="widget-button widget-button-home z-depth-2 " [ngClass]="{ 'widget-button-home-stay' : 'open' == openCloseHome }"
      (click)="openCloseWidgetl(0)">
      <h2 class="widget-button-title text-center">Home Cleaning
        <i class="fa fa-circle" aria-hidden="true"></i>
      </h2>
    </div>
    <div class="widget-pannel container " [@expandCollapse]='openCloseHome'>
      <h2 class="widget-pannel-description"> When it comes to home cleaning, no one offers a professional service like us. Our team will clean every inch of your
        house. </h2>
      <hr>
      <div class="widget-pannel-content">
        <div class="row">
          <div class="col-md-6">
            <h3 class="widget-pannel-title"> Frequency </h3>
            <p>We offer three types of frequency to be able to meet your cleaning needs.</p>
            <ul>
              <li>Weekly</li>
              <li>Biweekly</li>
              <li>Monthly</li>
              <li>Other - Please Contact Us.</li>

            </ul>
          </div>

          <div class="col-md-6">
            <h3 class="widget-pannel-title"> Services Types </h3>
            <p>We also offer differnet types of cleaning services.</p>
            <ul>
              <li>Normal</li>
              <li>Premium</li>
              <li>Other - Please Contact Us.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Repairs/Improvements Widget -->
  <div class="widget">
    <div class="widget-button widget-button-repair z-depth-2 " [ngClass]="{ 'widget-button-repair-stay' : 'open' == openCloseRepair }"
      (click)="openCloseWidgetl(1)">
      <h2 class="widget-button-title text-center">Repairs/Improvements
        <i class="fa fa-circle" aria-hidden="true"></i>
      </h2>
    </div>
    <div class="widget-pannel container" [@expandCollapse]='openCloseRepair'>
      <h2 class="widget-pannel-description"> Home repairs and improvements is the best way to keep the value of your home. To us there is no job too small to help
        you!
      </h2>
      <hr>
      <div class="widget-pannel-content">
        <div class="row">
          <div class="col-md-4">
            <h3 class="widget-pannel-title"> Bathroom/Kitchen Repairs </h3>
            <ul>
              <li>Faucet </li>
              <li>Fixture </li>
              <li>Shower Door </li>
              <li>Tile & Grout </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="widget-pannel-title"> Outdoor Home Repairs </h3>
            <ul>
              <li> Deck  </li>
              <li> Fence  </li>
              <li> Storm Door </li>
              <li> Exterior Stucco </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="widget-pannel-title"> Other Repairs </h3>
            <ul>
              <li>Small Electrical & Plubbing </li>
              <li>Painting & Textures</li>
              <li>Patching Drywall</li>
              <li>Other - Please Contact Us.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Installations  Widget -->
  <div class="widget">
    <div class="widget-button widget-button-installation z-depth-2 " [ngClass]="{ 'widget-button-installation-stay' : 'open' == openCloseInstallation}"
      (click)="openCloseWidgetl(2)">
      <h2 class="widget-button-title text-center">Installations
        <i class="fa fa-circle" aria-hidden="true"></i>
      </h2>
    </div>
    <div class="widget-pannel container" [@expandCollapse]='openCloseInstallation'>
      <h2 class="widget-pannel-description"> New items help you feel revitalize your house. Let our team take away the headache of all you future installations.</h2>
      <hr>
      <div class="row">
          <div class="col-md-4">
            <h3 class="widget-pannel-title"> Appliance Installations </h3>
            <ul>
              <li>Stoves </li>
              <li>Washers & Dryers </li>
              <li>Dishwashers </li>
              <li>Refrigerators </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="widget-pannel-title"> Home Installations </h3>
            <ul>
              <li> Decks  </li>
              <li> Fences & Gates </li>
              <li> Doors & Windows </li>
              <li> Bathroom Accessories </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="widget-pannel-title"> Other Installations </h3>
            <ul>
              <li>Tile Floor</li>
              <li>Wooden Floor</li>
              <li>Ceiling Fans</li>
              <li>Other - Please Contact Us.</li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <!-- Maintenance Widget -->
  <div class="widget">
    <div class="widget-button widget-button-maintenance z-depth-2 " [ngClass]="{ 'widget-button-maintenance-stay' : 'open' == openCloseMaintenance }"
      (click)="openCloseWidgetl(3)">
      <h2 class="widget-button-title text-center">Maintenance
        <i class="fa fa-circle" aria-hidden="true"></i>
      </h2>
    </div>
    <div class="widget-pannel container" [@expandCollapse]='openCloseMaintenance'>
      <h2 class="widget-pannel-description"> The little things add up. That's why regular maintenance in and around the home is especially important.</h2>
      <!--• Gutter Maintenance • Power Washing Services-->
      <hr>
      <div class="widget-pannel-content">
          <div class="row">
            <div class="col-md-6">
              <h3 class="widget-pannel-title"> Frequency </h3>
              <p>We offer three types of frequency to be able to meet your cleaning needs.</p>
              <ul>
                <li>Weekly</li>
                <li>Biweekly</li>
                <li>Monthly</li>
                <li>Other - Please Contact Us.</li>
  
              </ul>
            </div>
  
            <div class="col-md-6">
              <h3 class="widget-pannel-title"> Services Types </h3>
              <p>We also offer differnet types of cleaning services.</p>
              <ul>
                <li>Regular</li>
                <li>Premium</li>
                <li>Other - Please Contact Us.</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<!--
<div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  -->