<!-- MainBanner -->
<div class="banner-section banner-overlay z-depth-2">
  <div class="container text-center">
    <div class="banner-logo">
      <img src="../../../assets/images/whiteLogo3.png" alt="logo">
    </div>
    <div class="banner-buttons">
      <button class="btn blue darken-4" [routerLink]="['/booknow']"> <i class="fa fa-calendar"></i>Book Now</button>
      <!-- <a class="btn white waves-effect blue-text">Login Now </a> Change color to blue-->
    </div>
  </div>
</div>

<!-- Welcome Divder -->
<section class=" divder welcome-divder divder-small z-depth-2">
  <div class="container divder-container">
    <h3 class="text-center ">Redefining the art of home services,
      <br> one house at a time. </h3>
  </div>
</section>

<!-- Services Banner -->
<section class="service-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">Services </h3>
    <h4 class="service-banner-list">
      <i class="fa fa-circle" aria-hidden="true"></i>Home Cleaning 
      <i class="fa fa-circle" aria-hidden="true"></i>Repairs/Improvements
      <i class="fa fa-circle" aria-hidden="true"></i>Installations
      <i class="fa fa-circle" aria-hidden="true"></i>Maintenance
    </h4>
    <div class="banner-buttons">
      <a [routerLink]="['/services']" class="btn blue darken-4 ">Learn More</a>
    </div>
  </div>
</section>

<!-- Book Now Banner -->
<section class="booknow-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">Book Now </h3>
    <h4 class="service-banner-list">
        <i class="fa fa-circle" aria-hidden="true"></i> Su casa es mi casa
    </h4>
    <div class="banner-buttons">
      <a [routerLink]="['/booknow']" class="btn blue darken-4">BOOK NOW</a>
    </div>
  </div>
</section>

<!-- Quote Divder-->
<section class="divder quote-divder z-depth-2">
  <div class="container divder-container quote-divder-container">
    <h3 class="text-center">"The objective of cleaning is not just to clean, but to feel happiness living within that environment."
      <br>
    </h3>
    <h4 class="text-right">-Marie Kondo</h4>
  </div>
</section>


<!-- FAQ Banner -->
<section class="faq-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">FAQ </h3>
    <h4 class="service-banner-list">
        <i class="fa fa-circle" aria-hidden="true"></i> Frequently Asked Questions
    </h4>
    <div class="banner-buttons">
      <a [routerLink]="['/faq']" class="btn blue darken-4">FIND OUT MORE</a>
    </div>
  </div>
</section>

<!-- About Banner -->
<section class="about-banner banner">
  <div class="container banner-container text-center">
    <h3 class="banner-title">About</h3>
    <h4 class="service-banner-list">
        <i class="fa fa-circle" aria-hidden="true"></i> The story of UNO Pro Services
    </h4>
    <div class="banner-buttons">
      <a [routerLink]="['/about']" class="btn blue darken-4">LEARN ABOUT UNO PRO</a>
    </div>
  </div>
</section>