/* Banner CSS */
.banner-overlay {
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url('../../../assets/images/kitchen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    color: #fff;
    padding-top: 100px;
    padding-bottom:100px;
    max-height: 300px;

}
.banner-heading {
    background: rgba(230,230,220,.9);
    padding-top: 1em;
    padding-bottom:1em;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;

}

.banner-heading h1 {
    color:#111;
    font-size: 42px;
}
.banner-heading p {
    color:#111;
    padding-bottom:20px;
    font-size: 19px;
    font-weight: 400;
}

.view {
    max-height: 150px;
}